<div>
    <app-section-title [icon]="''" [title]="'Hobbies'" [customClass]="'mb-4'"></app-section-title>
    <div class="text-center d-md-flex gap-3 align-items-stretch">
        <ng-container *ngFor="let item of list" class="mb-3 mb-md-0">
            <ng-container *ngIf="!item.url && !item.externalUrl; else url">
                <div class="text-dark-grey">
                    <app-hobby-item [item]="item"></app-hobby-item>
                </div>
            </ng-container>
            <ng-template #url>
                <ng-container *ngIf="item.url; else externalUrl">
                    <a [routerLink]="[item?.url]" class="text-dark-grey">
                        <app-hobby-item [item]="item"></app-hobby-item>
                    </a>
                </ng-container>
                <ng-template #externalUrl>
                    <a [href]="[item?.externalUrl]" class="text-dark-grey" target="_blank">
                        <app-hobby-item [item]="item"></app-hobby-item>
                    </a>
                </ng-template>
            </ng-template>            
        </ng-container>               
    </div>
</div>