<div>
    <app-section-title [icon]="''" [title]="'Hobbies'" [customClass]="'mb-4'"></app-section-title>
    <div class="text-center d-md-flex gap-3 align-items-stretch">
        <ng-container *ngFor="let item of list" class="mb-3 mb-md-0">
            <ng-container *ngIf="item.url; else noUrl">
                <a [routerLink]="[item?.url]" class="text-dark-grey">
                    <figure class="mb-0 mb-md-2">
                        <img [src]="'../../../assets/images/' + item.image" width="100" [title]="item.name" [alt]="item.name">                             
                    </figure>
                    <p class="mb-0">{{ item.name }}</p>
                </a>
            </ng-container>
            <ng-template #noUrl>
                <div class="text-dark-grey">
                    <figure class="mb-0 mb-md-2">
                        <img [src]="'../../../assets/images/' + item.image" width="100" [title]="item.name" [alt]="item.name">                             
                    </figure>
                    <p class="mb-0">{{ item.name }}</p>
                </div>
            </ng-template>
        </ng-container>               
    </div>
</div>