<nav id="site-nav" class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="main-nav nav navbar-nav navbar-right">
            <li class="main-nav__item nav-item">
                <a href="#home-link" class="main-nav__link nav-link text-uppercase" id="home-tab">home</a>
            </li>
            <li class="main-nav__item nav-item">
                <a href="#about-link" class="main-nav__link nav-link text-uppercase" id="about-tab">about me</a>
            </li>
            <li class="main-nav__item nav-item">
                <a href="#skills-link" class="main-nav__link nav-link text-uppercase" id="skills-tab">my skills</a>
            </li>
            <li class="main-nav__item nav-item">
                <a href="#works-link" class="main-nav__link nav-link text-uppercase" id="works-tab">my works</a>
            </li>
            <li class="main-nav__item nav-item">
                <a href="#contact-link" class="main-nav__link nav-link text-uppercase" id="contact-tab">contact me</a>
            </li>
        </ul>
        </div>
    </div>
</nav>