<div class="p-5">
    <section class="mb-5">
        <app-school-education></app-school-education>
    </section>
    <section class="mb-5">
        <app-work-experience></app-work-experience>
    </section>       
    <section class="mb-5">
        <app-skills></app-skills>
    </section> 
    <section class="mb-5">
        <app-hobby></app-hobby>
    </section>
    <section class="mb-5">
        <app-tutorials></app-tutorials>
    </section>
    <section class="mb-5">
        <app-personal-projects></app-personal-projects>
    </section>    
</div>