@import "../../../assets/stylesheets/helpers/custom-mixin";
@import "../../../assets/stylesheets/helpers/variables";

.cd-timeline {
    &::before {
      content: "";
      display: block;
      @include border(5px, #a5a5ad, left, dotted);
      @include transform(translateX(32px));
      z-index: 0;
    }
    &__icon {
      @include size(60px, 60px);
    }
    &__title{
      font-size: 24px;
    }
    &__description{
      font-size: 19px;
    }
    &__link{
      @include font-style(19px, $main-color);
      @include transition(color 0.3s ease-out);
      background-color: transparent;
      &:hover{
        color: lighten($main-color, 20%);
        text-decoration: none;
      }
      &:focus{
        outline: none;
      }
    }
    @include respond-to(max-width, 768px) {
      margin-left: 35px;
    }
  }