<div>
  <app-curriculum-block [sectionTitle]="educations.title" [icon]="educations.icon" [list]="educations.list"></app-curriculum-block>
  <app-curriculum-block [sectionTitle]="worksexperience.title" [icon]="worksexperience.icon" [list]="worksexperience.list"></app-curriculum-block>
  <app-curriculum-block [sectionTitle]="skills.title" [icon]="skills.icon" [list]="skills.list"></app-curriculum-block>
  <app-curriculum-block [sectionTitle]="personalprojects.title" [icon]="personalprojects.icon" [list]="personalprojects.list"></app-curriculum-block>
  <div class="text-center mt-3">
    <a href="assets/pdf/cv-IlariaDiRosa.pdf" class="btn btn-lg text-uppercase btn-main-color" target="_blank">
      <i class="fa fa-download"></i> Download CV
    </a>
  </div>  
</div>