$color-primary: #0074d9;
$color-secondary: #7fdbff;
$color-tertiary: #39cccc;

$font-family: 'Lato', sans-serif;
$main-color: #d4b5a3;
$primary-color: rgb(215, 154, 157);
$secondary-color: #f9f8f4;
$dark-grey: #3e3a37;
$light-grey: #6D6D85;