<div>
    <figure>
        <img src="../../assets/images/_me.jpg" alt="Ilaria Di Rosa" class="img-fluid">
    </figure>
    <div class="px-5 py-4">
        <div class="mb-5">
            <h1 class="text-white fw-normal">Ilaria Di Rosa</h1>
            <h5 class="text-main-color fw-light">Front end developer</h5>
        </div>  
        <div class="mb-5">
            <h2 class="text-white fw-normal">Profile</h2>
            <p class="text-secondary-color fw-light">Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia e della stampa. Lorem Ipsum è considerato il testo segnaposto standard sin dal sedicesimo secolo, quando un anonimo tipografo prese una cassetta di caratteri e li assemblò per preparare un testo campione.</p>
        </div>    
        <div class="mb-5">
            <h2 class="text-white fw-normal">Social Media</h2>
            <app-social-channels></app-social-channels>
        </div> 
        <div class="mb-5">
            <h2 class="text-white fw-normal">Contact</h2>
            <a class="text-secondary-color fw-light" href="mailto:dirosa.ilaria@gmail.com">dirosa.ilaria@gmail.com</a>
        </div>
    </div>
</div>
