<div>
    <a [routerLink]="'/'">
        <figure>
            <img src="../../assets/images/_me.jpg" alt="Ilaria Di Rosa" class="img-fluid">
        </figure>
    </a>
    <div class="px-5 py-4">
        <div class="mb-5">
            <h1 class="text-white fw-normal">Ilaria Di Rosa</h1>
            <h5 class="text-main-color fw-light">Front end developer</h5>
        </div>  
        <div class="mb-5">
            <h2 class="text-white fw-normal">Profile</h2>
            <p class="text-secondary-color fw-light">
                I could define myself as a cheerful, creative girl, keen to always doing better.<br>
                I love crafts, and trying my hand at whatever catches my attention.<br>
                My motto <strong>NEVER GIVE UP!</strong>
            </p>
        </div>    
        <div class="mb-5">
            <h2 class="text-white fw-normal">Social Media</h2>
            <app-social-channels></app-social-channels>
        </div> 
        <div class="mb-5">
            <h2 class="text-white fw-normal">Contact</h2>
            <a class="text-secondary-color fw-light" href="mailto:dirosa.ilaria@gmail.com">dirosa.ilaria@gmail.com</a>
        </div>
    </div>
</div>
