<div>
    <app-section-title [icon]="''" [title]="'Skills'"></app-section-title>
    <!-- <p class="text-dark-grey">
        For those like me who do this job, they know that there is never an end to studying.<br>
        In all the teams I have worked on, even if not all of them met my expectations, 
        I always learned something new.
    </p> -->
    <div class="row">
        <div class="col text-center mb-3"  *ngFor="let item of list">
            <circle-progress
                [percent]="item.percent"
                [radius]="100"
                [outerStrokeLinecap]="''"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="1"
                [outerStrokeColor]="'#e7e6e2'"
                [innerStrokeColor]="'#d4b5a3'"
                [animation]="true"
                [animationDuration]="300"
                [showSubtitle]="false"
                [unitsFontSize]="'20'"
                [titleFontSize]="'20'"
                >
            </circle-progress>
            <p class="mb-0 text-uppercase">{{ item.tecnology }}</p>
        </div>
    </div>
</div>