<ul class="social list-unstyled d-flex align-items-center justify-content-center">
    <li class="social__item">
      <a href="https://www.facebook.com/ilaria.d.rosa.5" class="social__link">  
        <i class="fab facebook"></i>
      </a>
    </li>
    <li class="social__item">
      <a href="https://www.linkedin.com/in/ilariadirosa/" class="social__link">
        <i class="fab linkedin"></i>
      </a>
    </li>
    <li class="social__item">
      <a href="https://www.linkedin.com/in/ilariadirosa/" class="social__link">
        <i class="fab pinterest"></i>
      </a>
    </li>
    <li class="social__item">
      <a href="mailto:dirosa.ilaria@gmail.com" class="social__link">
        <i class="fab envelope"></i>
      </a>
    </li>
</ul>