<button type="button" (click)="openModal()" class="item" data-bs-toggle="modal" data-bs-target="#workModal">
    <img [src]="'../../../assets/images/' + project.image" class="item__image img-fluid" [alt]="project.title">
    <div class="hover-mask">
        <div class="item__info text-center">
        <h2 class="item__title text-uppercase">
            {{ project.title }}                
        </h2>
        <img src="../../../assets/images/ico-white-eye.png" width="40" alt="View">
        </div>
    </div>
</button>