/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "./assets/stylesheets/helpers/custom-mixin";
@import "./assets/stylesheets/helpers/variables";
@import "./assets/stylesheets/helpers/bg";
@import "./assets/stylesheets/helpers/btn";
@import "./assets/stylesheets/helpers/text";

body {
    font-family: 'Lora', serif;
    overflow-x: hidden;
    background-color: #f9f8f4;
}
  