/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "./assets/stylesheets/helpers/custom-mixin";
@import "./assets/stylesheets/helpers/variables";
@import "./assets/stylesheets/helpers/bg";
@import "./assets/stylesheets/helpers/btn";
@import "./assets/stylesheets/helpers/text";
@import "./assets/stylesheets/helpers/fonts";

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background-color: #f9f8f4;
}

.language-markup {
    background-color: #f5f2f0;
    overflow: auto;
    max-width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-left: 2px solid #0a89c0;
    font-family: monospace;
    font-size: 110%;
    line-height: 1.5;
}
  