<div class="p-5">
    <div class="border-bottom py-4 mb-4">
        <iladiro-counter 
            [title]="'Countdown demo'"
            [startDate]="'2023/06/26 16:24:00'" 
            [endDate]="'2024/06/28 10:32:00'">
        </iladiro-counter>
    </div>    
    <div class="border-bottom py-4 mb-4">
        <iladiro-angular-slider
            (clickSlideEvent)="clickOnSlide($event)" 
            [paginatorArrowStart]="'bi bi-arrow-left-square'"
            [paginatorArrowEnd]="'bi bi-arrow-right-square'"
            [paginatorArrowPrev]="'bi bi-arrow-left'" 
            [paginatorArrowNext]="'bi bi-arrow-right'" 
            [slideList]="slides"
            [clickableSlide]="true">
        </iladiro-angular-slider>
    </div>
    <div class="py-4 mb-4">
        <iladiro-angular-material-table 
            [customClass]="'p-4 bg-white'"
            [list]="tableList" 
            [displayedColumns]="['name', 'surname', 'gender', 'buttons']">
        </iladiro-angular-material-table>
    </div>
</div>